<footer class="ampstart-footer flex flex-column items-center px3">
    <ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
        {% if site.twitter %}

        <li>
            <a href="https://twitter.com/{{site.twitter}}" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Twitter">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22.2" viewbox="0 0 53 49">
                    <title>Twitter</title>
                    <path d="M45 6.9c-1.6 1-3.3 1.6-5.2 2-1.5-1.6-3.6-2.6-5.9-2.6-4.5 0-8.2 3.7-8.2 8.3 0 .6.1 1.3.2 1.9-6.8-.4-12.8-3.7-16.8-8.7C8.4 9 8 10.5 8 12c0 2.8 1.4 5.4 3.6 6.9-1.3-.1-2.6-.5-3.7-1.1v.1c0 4 2.8 7.4 6.6 8.1-.7.2-1.5.3-2.2.3-.5 0-1 0-1.5-.1 1 3.3 4 5.7 7.6 5.7-2.8 2.2-6.3 3.6-10.2 3.6-.6 0-1.3-.1-1.9-.1 3.6 2.3 7.9 3.7 12.5 3.7 15.1 0 23.3-12.6 23.3-23.6 0-.3 0-.7-.1-1 1.6-1.2 3-2.7 4.1-4.3-1.4.6-3 1.1-4.7 1.3 1.7-1 3-2.7 3.6-4.6" class="ampstart-icon ampstart-icon-twitter"></path>
                </svg>
            </a>
        </li>
        {% endif %} {% if site.linkedin_username %}
<li>
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
    <span class="icon  icon--linkedin">
      <svg viewBox="0 50 512 512" >
        <path d="M150.65,100.682c0,27.992-22.508,50.683-50.273,50.683c-27.765,0-50.273-22.691-50.273-50.683
        C50.104,72.691,72.612,50,100.377,50C128.143,50,150.65,72.691,150.65,100.682z M143.294,187.333H58.277V462h85.017V187.333z
        M279.195,187.333h-81.541V462h81.541c0,0,0-101.877,0-144.181c0-38.624,17.779-61.615,51.807-61.615
        c31.268,0,46.289,22.071,46.289,61.615c0,39.545,0,144.181,0,144.181h84.605c0,0,0-100.344,0-173.915
        s-41.689-109.131-99.934-109.131s-82.768,45.369-82.768,45.369V187.333z"/>
      </svg>
    </span>

    <span class="username">{{ site.linkedin_name }}</span>
  </a>
</li>
{% endif %} {% if site.github %}

        <li>
            <a href="https://github.com/{{site.github}}" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML github">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 64 64">
                    <path d="M22.4 1.4C-.8 9-7.4 38.4 10.5 54.9 14.7 58.8 20.4 62 23 62c.5 0 1-1.6 1-3.5 0-3.3-.2-3.5-3.5-3.5-3.5 0-4.2-.5-9-6.6-4.4-5.6-2.3-6.2 3.2-.9 4.2 4 7.5 4.5 9.8 1.2 1.4-2.1 1.4-2.2-.7-3-6-2.3-8.8-4.2-10.2-7.2-2.1-4.3-2.1-12.4 0-15.3.8-1.2 1.2-2.7.9-3.2-1-1.6.5-7 1.8-7 .7 0 2.4.6 3.8 1.4 1.7.9 6 1.4 11.9 1.4s10.2-.5 11.9-1.4c1.4-.8 3.1-1.4 3.8-1.4 1.3 0 2.8 5.4 1.8 7-.3.5.1 2 .9 3.2 1.8 2.5 2.1 10.3.7 14.1-1.4 3.6-5 6.6-9.3 7.8-3.3.9-3.7 1.2-2.8 2.9.5 1 1 4.6 1 7.9 0 3.5.4 6.1 1 6.1 5.2 0 15.8-8.8 19.8-16.5 2.3-4.3 2.7-6.3 2.7-13.5 0-7-.4-9.4-2.4-13.5C57.9 12.2 51.8 6 45.6 3 39.6.2 28.5-.6 22.4 1.4z" class="ampstart-icon ampstart-icon-github" />
                </svg>
            </a>
        </li>
        {% endif %}

    </ul>
    <nav class="ampstart-footer-nav">
        <ul class="list-reset flex flex-wrap mb3">
            {% if site.about %}

            <li class="px1">
                <a class="text-decoration-none ampstart-label" href="{{site.baseurl}}{{site.about}}">About</a>
            </li>
            {% endif %} {% if site.contact %}

            <li class="px1">
            </li>
            {% endif %} {% if site.privacy-policy %}

            <li class="px1">
            </li>
            {% endif %}

        </ul>
    </nav>
    <small>
        &copy; 2017
    <a href="{{site.baseurl}}">{{site.name}}</a> &nbsp; | &nbsp;  All Rights Reserved.

    </small>
    <small>
      Published with <a href="https://jekyllrb.com/">Jekyll</a>
      using <a href="https://github.com/samanyougarg/hanuman">Hanuman</a>
    </small>
</footer>
